<!DOCTYPE html>
<html data-theme="light" lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/b249ac0a69.js" crossorigin="anonymous"></script>
    <title>test</title>
</head>
<body>
    <!--  navbar-->
    <div th:replace="fragments/navbar :: header"></div>

    <div class="p-8 flex-row w-[55%] justify-center mt-20 m-auto rounded-md shadow-md h-[30rem]">
        <h1 class="font-bold mb-14 text-center text-slate-700 text-5xl">ADMINISTRATOR (CRP)</h1>
        <label for="my-modal-3">
            <div class="flex border mt-6 p-5 cursor-pointer">
                <i class="fa-solid fa-user fa-5x mx-16" style="color: #FB923C;"></i>
                <div>
                    <h2 class="text-3xl font-semibold ml-20">Add New Account</h2>
                    <h3 class="text-1xl mt-1 ml-20 text-slate-500">Account based on role</h3>
                </div>
            </div>
        </label>
        <a th:href="@{/users/1}">
            <div class="flex border mt-6 p-5 cursor-pointer">
                <i class="fa-solid fa-people-group fa-5x mx-14" style="color: #FB923C;"></i>
                <div>
                    <h2 class="text-3xl font-semibold ml-16">List Account</h2>
                    <h3 class="text-1xl mt-1 ml-16 text-slate-500">View or Remove Account</h3>
                </div>
            </div>
        </a>
    </div>

    <!--  modal-->
    <input type="checkbox" id="my-modal-3" class="modal-toggle"/>
    <div class="modal">
        <div class="modal-box relative">
            <label for="my-modal-3" class="btn btn-sm hover:bg-orange-400 bg-orange-500 border-0 btn-circle absolute right-2 top-2">✕</label>
            <div class="p-5">
                <h1 class="text-center text-lg font-bold mb-5">Add Account</h1>
                <form th:action="@{/admin}" method="post" th:object="${user}">
                    <div class="my-3">
                        <input placeholder="Name" type="text" class="px-6 py-7 border w-full h-11 rounded-xl" th:field="*{name}"/>
                    </div>
                    <div class="my-3">
                        <input placeholder="Password" type="password" class="px-6 py-7 border w-full h-11 rounded-xl" th:field="*{password}"/>
                    </div>
                    <div class="my-3">
                        <select class="py-4 px-6 pr-8 rounded border w-full rounded-xl" th:field="*{roles}">
                            <option th:value="USER">User</option>
                            <option th:value="ADMIN">Validator</option>
                            <option th:value="INPUTER">Inputer</option>
                        </select>
                    </div>
                    <div class="my-3">
                        <select class="py-4 px-6 pr-8 rounded border w-full rounded-xl" th:field="*{kelompok}">
                            <option th:value="1">DCU</option>
                            <option th:value="2">DEP</option>
                            <option th:value="3">FPM</option>
                            <option th:value="4">FPD1</option>
                            <option th:value="5">FPD2</option>
                            <option th:value="6">FPD3</option>
                        </select>
                    </div>
                    <div class="flex justify-center mt-5">
                        <button class="py-3 p-12 bg-orange-500 hover:bg-orange-400 border-0 text-white rounded-full" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>