<!DOCTYPE html>
<html data-theme="light" lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/b249ac0a69.js" crossorigin="anonymous"></script>
    <title>test</title>
</head>
<body>
<!--  navbar-->
    <div th:replace="fragments/navbar :: header"></div>
    <div class="text-center mt-20 font-bold text-4xl">
        <p>CONSUMER PRODUCT</p>
    </div>

<!--list kelompok-->
    <div class="mt-20">
        <div class="grid grid-cols-3 gap-9 mt-9 font-bold text-lg text-center w-1/2 m-auto">
            <div th:each="kelompok : ${kelompoks}">
                <a th:href="@{'/beban/' + ${kelompok.id}}">
                    <div class="hover:py-12 outline outline-slate-200 outline-1 rounded-lg bg-white py-9 px-20 shadow-lg">[[${kelompok.name}]]</div>
                </a>
            </div>
        </div>
    </div>

</body>
</html>