<!DOCTYPE html>
<html data-theme="light" lang="en" xmlns:th="https://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/b249ac0a69.js" crossorigin="anonymous"></script>
    <title>test</title>
</head>
<body>
<!--  navbar-->
    <div th:replace="fragments/navbar :: header"></div>

    <div class="p-8 mt-11 mb-96 w-[70%] justify-center m-auto rounded-md shadow h-[33rem]">
        <h1 class="font-bold mb-20 text-center text-slate-700 text-5xl">CONSUMER PRODUCT (CRP)</h1>
        <div class=" grid grid-cols-2 gap-4">
            <a href="beban/4">
                <div class="flex border py-3 cursor-pointer">
                    <i class="fa-solid fa-sack-dollar fa-3x mx-14 text-orange-500" style="color: #ff9029;"></i>
                    <div>
                        <h2 class="text-3xl ml-3 font-bold">FPD 1</h2>
                        <h3 class="text-1xl mt-1 ml-3 text-slate-500">Funding Product Development 1</h3>
                    </div>
                </div>
            </a>
            <a href="beban/1">
                <div class="flex border py-3 cursor-pointer">
                    <i class="fa-solid fa-credit-card fa-3x mx-14 text-orange-500" style="color: #ff9029;"></i>
                    <div>
                        <h2 class="text-3xl ml-3 font-bold">DCU</h2>
                        <h3 class="text-1xl mt-1 ml-3 text-slate-500">Debit Card Usage</h3>
                    </div>
                </div>
            </a>
            <a href="beban/5">
                <div class="flex border py-3 cursor-pointer">
                    <i class="fa-solid fa-sack-dollar fa-3x mx-14 text-orange-500" style="color: #ff9029;"></i>
                    <div>
                        <h2 class="text-3xl ml-3 font-bold">FPD 2</h2>
                        <h3 class="text-1xl mt-1 ml-3 text-slate-500">Funding Product Development 2</h3>
                    </div>
                </div>
            </a>
            <a href="beban/6">
                <div class="flex border py-3 cursor-pointer">
                    <i class="fa-solid fa-sack-dollar fa-3x mx-14 text-orange-500" style="color: #ff9029;"></i>
                    <div>
                        <h2 class="text-3xl ml-3 font-bold">FPD 3</h2>
                        <h3 class="text-1xl mt-1 ml-3 text-slate-500">Funding Product Development 3</h3>
                    </div>
                </div>
            </a>
            <a href="beban/2">
                <div class="flex border py-3 cursor-pointer">
                    <i class="fa-solid fa-sack-dollar fa-3x mx-14 text-orange-500" style="color: #ff9029;"></i>
                    <div>
                        <h2 class="text-3xl ml-3 font-bold">DEF</h2>
                        <h3 class="text-1xl mt-1 ml-3 text-slate-500">Funding Product Development 2</h3>
                    </div>
                </div>
            </a>
            <a href="beban/3">
                <div class="flex border py-3 cursor-pointer">
                    <i class="fa-solid fa-sack-dollar fa-3x mx-14 text-orange-500" style="color: #ff9029;"></i>
                    <div>
                        <h2 class="text-3xl ml-3 font-bold">FPM</h2>
                        <h3 class="text-1xl mt-1 ml-3 text-slate-500">Funding Product Development 2</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>
</html>