<!DOCTYPE html>
<html data-theme="light" lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/b249ac0a69.js" crossorigin="anonymous"></script>
  <title>test</title>
</head>
<body class="pb-20">
<!--  navbar-->
  <div th:replace="fragments/navbar :: header"></div>

<!--button back-->
  <div class="mt-14 mb-14">
    <a th:href="@{'/program/' + ${bebanId}}" class="ml-20 py-3 px-4 hover:bg-orange-400 rounded-full bg-orange-500 text-white text-sm font-medium"><i class="fa-solid fa-chevron-left fa-xl"></i><span class="mx-5">Back</span></a>
  </div>

<!--text-->
  <div th:if="${errorMessage}">
    <p>Error: <span th:text="${errorMessage}"></span></p>
  </div>
  <div class="lg:ml-36 ml-3">
    <h1 class="text-4xl mb-1 font-bold"> <span th:text="${kelompok}"></span></h1>
    <h1 class="text-lg font-medium">Mata Anggaran : <span th:text="${nameBeban}"></span></h1>
<!--    <h1 class="text-xl font-bold">Nomer Rekening : <span th:text="${rekening}"></span></h1>-->
    <P class="text-lg font-medium">Budget Anggaran : <span>[[${#strings.replace(#numbers.formatCurrency(Budget), ',00','')}]]</span></P>
    <h1 class="text-lg font-medium">Nama Program  : <span th:text="${namaProgram}"></span></h1>
    <h1 class="text-lg font-medium">No Usulan : <span th:text="${noUsulan}"></span></h1>

    <!--    <P class="text-base text-slate-400">Budget Anggaran : <span>[[${#strings.replace(#numbers.formatCurrency(Budget), ',00','')}]]</span></P>-->
  </div>

<!--search and add-->
  <div class="md:flex lg:w-[90%] mx-auto justify-end mb-6 mt-9">
    <label sec:authorize="hasAnyAuthority('ADMIN','INPUTER')" for="my-modal-3" class="ml-[30rem] text-white hover:bg-orange-400 p-4 lg:mr-8 cursor-pointer rounded-full mx-32 bg-orange-500 border-0 text-sm font-medium">
      <i class="ml-3 fa-solid fa-square-plus"></i><span class="mx-6">Add New Realisasi</span>
    </label>
    <a th:href="@{'/excel/' + ${id}}" class="mr-5 p-4 hover:bg-orange-400 rounded-full bg-orange-500 text-white text-sm font-medium"><i class="ml-3 fa-solid fa-file-excel"></i><span class="mx-5">Generate</span></a>
  </div>


<!--  table-->
  <div class="container shadow-lg p-8 lg:w-[90%] mb-9 mx-auto overflow-x-auto">
    <table class="outline outline-slate-200 outline-1 rounded-t-xl border-spacing-1 table-auto w-full m-auto">
      <thead>
      <tr class="border-b">
        <th class=" py-3"><span class="mr-6">Keterangan</span><i class="fa-solid fa-sort"></i></th>
        <th class=" py-3"><span class="mr-6">Budget Program</span><i class="fa-solid fa-sort"></i></th>
        <th class=" py-3"><span class="mr-6" >Realisasi Program</span><i class="fa-solid fa-sort"></i></th>
        <th class=" py-3"><span class="mr-6">Sisa Budget</span><i class="fa-solid fa-sort"></i></th>
        <th class=" py-3"><span class="mr-6">PIC</span><i class="fa-solid fa-sort"></i></th>
        <th class=" py-3"><span class="mr-6">Date</span><i class="fa-solid fa-sort"></i></a></th>
        <th sec:authorize="hasAnyAuthority('ADMIN','INPUTER')" class=" py-3"><span class="mr-6">Action</span><i class="fa-solid fa-sort"></i></th>
      </tr>
      </thead>
      <tbody class="text-center divide-y">
      <tr class="rounded-lg hover:shadow-lg group" th:each="kegiatan, status : ${kegiatans}">
        <td class="py-6">[[${kegiatan.keterangan}]]</td>
        <td>[[${#strings.replace(#numbers.formatCurrency(kegiatan.budget), ',00','')}]]</td>
        <td>[[${#strings.replace(#numbers.formatCurrency(kegiatan.realisasi), ',00','')}]]</td>
        <td>[[${#strings.replace(#numbers.formatCurrency(kegiatan.sisa), ',00','')}]]</td>
        <td>[[${kegiatan.program.pic}]]</td>
        <td>[[${#dates.format(kegiatan.date, 'dd/MM/yyyy')}]]</td>
        <td class="">
          <div class="flex-row space-x-4">
            <a sec:authorize="hasAnyAuthority('ADMIN','INPUTER' ,'SUPER_ADMIN')" th:href="@{'/kegiatan/update/' + ${kegiatan.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
            <label sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')" th:for="|my-modal${status.index}}|" class="cursor-pointer"><i class="fa-solid fa-trash"></i></label>
          </div>
<!-- modal-->
          <input type="checkbox" th:id="|my-modal${status.index}}|" class="modal-toggle" tabindex="-1"/>
          <div class="modal modal-bottom sm:modal-middle">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Delete</h3>
              <p class="py-4">Hapus Realisasi ini?</p>
              <div class="">
                <a type="button" th:href="@{'/kegiatan/delete/' + ${kegiatan.id}}" class="py-3 p-16 rounded-full text-white text-sm font-medium hover:bg-red-400 bg-red-500 border-0">Ya</a>
                <label th:for="|my-modal${status.index}}|" class="py-3 px-12 hover:bg-gray-100 cursor-pointer rounded-full border text-sm font-medium">Cencel</label>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="flex py-3 bg-gray-100 outline-slate-200 outline-1 outline text-center text-base font-bold rounded-b-lg shadow-lg">
      <div class="w-1/2"><span>Sisa</span></div>
      <div class="w-1/2"><span>[[${#strings.replace(#numbers.formatCurrency(sisa), ',00','')}]]</span></div>
    </div>
  </div>

<!--  pagination-->
  <div class="flex flex-col items-center mt-9 mb-16" th:if="${totalPages > 1}">
    <!-- Help text -->
<!--    <span class="text-sm text-gray-700">-->
<!--          Showing <span class="font-semibold">1</span> to <span class="font-semibold">10</span> of <span class="font-semibold">100</span> Entries-->
<!--    </span>-->
    <div class="inline-flex mt-2 xs:mt-0">
      <!-- Buttons -->
      <a th:href="@{'/kegiatan/page/' + ${id} + '/' + ${currentPage-1}}" th:classappend="${currentPage == 1 ? 'pointer-events-none  ':''}" class="inline-flex items-center px-4 py-3 text-sm font-medium text-white bg-orange-500 rounded-l-xl hover:bg-orange-400">
        Prev
      </a>
      <div th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
        <a th:href="@{'/kegiatan/page/' + ${id} + '/' + ${page}}" th:text="${page}" th:classappend="${currentPage == page ? 'pointer-events-none bg-orange-600':'bg-orange-500'}" class="inline-flex items-center px-4 py-3 text-sm font-medium text-white hover:bg-orange-400">1</a>
      </div>
      <a th:href="@{'/kegiatan/page/' + ${id} + '/' + ${currentPage + 1}}" th:classappend="${currentPage == totalPages ? 'pointer-events-none  ':''}" class="inline-flex items-center px-4 py-3 text-sm font-medium text-white bg-orange-500 border-0 border-l border-orange-500 rounded-r-xl hover:bg-orange-400">Next</a>
    </div>
  </div>

<!--  modal-->
  <input type="checkbox" id="my-modal-3" class="modal-toggle"/>
  <div class="modal">
    <div class="modal-box relative">
      <label for="my-modal-3" class="btn btn-sm hover:bg-orange-400 bg-orange-500 border-0 btn-circle absolute right-2 top-2">✕</label>
      <div class="p-5">
        <h1 class="text-center text-lg font-bold mb-5">Add Realisasi</h1>
        <form th:action="@{'/kegiatan/' + ${id}}" method="post" th:object="${kegiatan}">
          <div class="my-3">
            <input placeholder="Keterangan" type="text" required class="p-6 border w-full h-11 rounded-xl" th:field="*{keterangan}"/>
          </div>
          <div class="my-3">
            <input placeholder="realisasi" type="number" required class="p-6 border w-full h-11 rounded-xl" th:field="*{realisasi}"/>
          </div>
          <div class="my-3">
            <input placeholder="Date" type="date" required onkeydown="return false" class="p-6 border w-full h-11 rounded-xl" th:field="*{date}"/>
          </div>
          <div class="flex justify-center mt-5">
            <button class="py-3 p-12 bg-orange-500 hover:bg-orange-400 border-0 text-white rounded-full" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>