<!DOCTYPE html>
<html data-theme="light" lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/b249ac0a69.js" crossorigin="anonymous"></script>
    <title>test</title>
</head>
<body>
    <!--  navbar-->
    <div th:replace="fragments/navbar :: header"></div>

    <!--button back-->
    <div class="mt-14 mb-14">
        <a th:href="@{/}" class="ml-20 py-3 px-4 hover:bg-orange-400 rounded-full bg-[#FF6600] text-white text-sm font-medium"><i class="fa-solid fa-chevron-left fa-xl"></i><span class="mx-5">Back</span></a>
    </div>

    <div class="flex flex-col mt-44 w-[40%] text-center justify-center m-auto rounded-md">
        <a th:href="@{'/kegiatan/kelompok/' + ${idKelompok}}" class="py-3 px-4 hover:bg-orange-400 rounded-full bg-[#FF6600] text-white text-lg font-medium">Lihat Semua MataAnggaran</a>
        <a th:href="@{'/beban/' + ${idKelompok}}" class="mt-4 py-3 px-4 hover:bg-orange-400 rounded-full bg-[#FF6600] text-white text-lg font-medium">Lihat Detail MataAnggaran</a>
    </div>
</body>
</html>